<div id="container_p">
    <div class="d-flex justify-content-around row">
        <div class="col-11 col-sm-8 col-md-6">
        <h2 style="text-align: center; padding: 20px">Edit Rental</h2>

        <%= render 'form', rental: @rental %>

        <%= link_to 'Show', @rental %> |
        <%= link_to 'Back', rentals_path %>
        </div>
    </div>
</div>


