<div id="container_p">
    <div class="container">
        <p style="font-weight: bold; font-size: 130px" class="d-flex justify-content-center">Oops!</p>
        <p style="font-weight: bold; font-size: 40px" class="d-flex justify-content-center">404 - PAGE NOT FOUND</p>
        <span class="d-flex justify-content-center pb-4"><%= link_to 'GO TO HOMEPAGE', root_path, class:"btn btn-outline-dark", style:"font-weight: bold;" %></span>
    </div>
</div>