.car-image {
  max-width: 100%; /* La largeur maximale est de 100% de la largeur du conteneur parent */
  height: auto; /* La hauteur s'ajuste automatiquement pour maintenir les proportions de l'image */
}

.price-rental {
  color: blue;
}

.btn-gray {
  background-color: gray;
  color: white;
}
.btn-gray:hover {
    background-color: darkgray;
}