// Place all the styles related to the rentals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
td {
    padding: 10px; /* Ajustez la valeur selon votre préférence */
  }
  
.btn-gray {
  background-color: gray;
  color: white;
}
.btn-gray:hover {
    background-color: darkgray;
}

.price-rental {
  color: blue;
}


.custom-button.btn-dark {
  background-color: #007bff;
  border-color: #007bff; 
}

.custom-button.btn-dark:hover {
  background-color: #b8d8ff; 
  border-color: #b8d8ff; 
}

.custom-button {
  background-color: #cd727b;
  border-color: #6b353a; 
  color: #fff; 
  transition: background-color 0.3s, border-color 0.3s;

  &:hover {
    background-color: #ff0000;
    border-color: #ff0000;
  }
}

.text-center {
  .total-rentals-box {
    background-color: gray; /* Couleur de fond grise */
    display: inline-block;
    padding: 5px 10px; /* Espacement autour du carré de fond gris */
    border-radius: 5px; /* Coins arrondis */
  }

  .total-rentals {
    margin-left: 10px; /* Espacement entre "Liste des voitures" et le nombre total */
    font-size: 16px; /* Taille de police du nombre total */
  }
}

.total-rentals-blue {
  background-color: blue; /* Couleur de fond bleu */
  color: white; /* Couleur du texte en blanc pour contraster */
  padding: 5px 10px; /* Espacement autour du carré de fond bleu */
  border-radius: 5px; /* Coins arrondis */
  display: inline-block; /* Pour que le carré s'adapte à son contenu */
}











