<div id="container_p">
<div style="text-align: center; padding-top: 40px;"><h1>Edit Voiture</h1></div>
<%= render 'form', car: @car %>
<%= link_to 'Show', @car %> |
<%= link_to 'Back', cars_path %>
</div>
